#root {
  height: 100vh;
  background-color: navy;
}
.App {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  background-color: #f5f5f5;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: gray;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 45px);
  z-index: 1;
}

/* SIDE MENU */
.side-menu {
  width: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.user-logo-box {
  width: 100%;
  padding: 20px 0;
}
.user-logo {
  width: 75%;
}

/* NAVIGATION LINKS */
.nav-link {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-link > img {
  margin: 10px 20px 10px 40px;
  height: 20px;
}
.sign-out-box {
  margin-bottom: 20px;
}

/* DISPLAY SCREEN */
.display-screen {
  width: calc(100vw - 250px);
  height: 100%;
  background-color: #f5f5f54d;
}
.display-top {
  border-bottom: 1px solid rgba(104, 104, 104, 0.376);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  height: 200px;
}
.header-content-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10px;
  padding: 20px 15px 15px 15px;
  border-bottom: 1px solid rgba(42, 42, 41, 0.445);
}
.add-icon {
  height: 30px;
  display: flex;
  align-self: center;
}
.add-icon > a > img {
  height: 100%;
}

.search-panel-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border: 1px 0 solid rgb(56, 56, 56);
  width: 100%;
  padding: 5px 0;
  margin: 5px 0;
}
.searchbar-box {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  width: 75%;
}

.filters-box {
  display: flex;
  flex-direction: row;
  align-self: center;
  text-align: left;
  justify-content: space-between;
  width: 75%;
  margin: 10px auto;
}
.select-button {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
input,
select,
option {
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.384);
  padding: 5px;
}
label {
  margin: 5px 0;
  font-weight: 400;
  font-size: small;
}
/* DATA DISPLAY */
.data-table {
  height: calc(100% - 200px);
  width: 90%;
  margin: 0 auto;
  overflow: scroll;
}
table {
  margin: 0px auto 15px auto;
  text-align: left;
  width: 100%;
  padding: 0 15px;
  font-size: normal;
}
.table-heading {
  position: sticky;
  top: 0px;
  border-bottom: 2px solid black;
  color: rgb(34, 34, 34);
  font-size: smaller;
}
.table-heading > * {
  background-color: rgb(214, 214, 214);
}

td,
th {
  padding: 10px 8px;
}
td {
  border-bottom: 1px solid #bebebe80;
}

/* NOTHING TO DISPLAY */
.empty-display {
  text-align: center;
}

/* FOOTER */
footer {
  background-color: darkgray;
  z-index: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
}
.footer {
  height: 45px;
}
.footer-display-space {
  width: calc(100% - 250px);
  background-color: aqua;
}

/* COMPANY LOGO */
.company-logo-box {
  width: 250px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb5b;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.company-logo-box > img {
  height: 60%;
  margin-left: -20px;
}

h1 {
  font-size: 20px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #2a2a2a;
}
#hospitals-link {
  background-color: #2a2a2a67;
}
